.container {
  position: relative;
  /*  border-radius:30px;*/
}
.container:hover {
  background: var(--color-two);
}
.container:hover .project-info {
  opacity: 1;
  transition: 0.5s ease-in;
}
/*.projectImage{
 border-radius:30px;
 border:solid 1px white;
}*/
.container:hover .text {
  opacity: 1;
  transition: 0.5s ease-in;
}

.project-info {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.container:hover .blurImage {
  opacity: 0;
  transition: 0.5s ease-in;
}
.text {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  color: rgb(0, 0, 0, 0.7);
}

.project-section {
  max-width: 500px;
}

/*
@media(max-width:500px){

 .projectImage{
    width:360px;
    height:auto;
  }
 
}

@media(max-width:400px){

 .projectImage{
    width:330px;
    height:auto;
  }
 
}



@media(max-width:379px){ 
    width:300px;
    height:auto;
  }
 
}*/
