.hover_on_link:hover{
    background:#ccac9d;
}

.projectImage {
  display: block;
}
.projectContainer:hover .projectImage{
  transition: .5s ease-in;
  filter:blur(5px);
  opacity:.4;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.projectContainer:hover .overlay {
  opacity: 1;
}

.plink {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media(max-width:600px){
  .projectImage{
    width:325px;
    height:250px;
  }
 
}
@media(max-width:376px){
  .projectImage{
    width:325px;
    height:230px;
  }
 
}

