.overlay {
  position: absolute; 
  bottom: 20%; 
/*  background: rgb(0, 0, 0);*/
 /* background: rgba(165, 128, 111, .8)*/; 
  width: 100%;
  transition: .6s ease;
  opacity:0;
  color: white;
  padding: 20px;
  text-align: center;
}

.image:hover .overlay{
  opacity:1;
}

.image:hover .projectImage{
  filter:blur(4px);
  opacity:.8;
}

.image:hover .hover_on_link{
  border:solid #ccac9d 1.5px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background:#ccac9d;

}