.name-style{
	font-size:80px;
}

.pic{
  border:solid 2px #ccac9d;
}
.about-link{
	-webkit-animation-name: grow-effect;
  	-webkit-animation-duration: 2s;
	transition: all .2s ease-in-out;
 	animation-iteration-count: infinite;
  	animation-timing-function: linear;
}

.about-link:hover{
   -webkit-animation-name: none;
}

.dottedBorder{
  border:none;
  border-top:8px dotted gray;
  color:#fff;
}

.show{
  display:block;
  -webkit-animation-name: showit;
  -webkit-animation-duration: 5s;
}

 @-webkit-keyframes grow-effect{
 from {transform: scale(1);}
 50%{transform: scale(1.1);}
  to {transform: scale(1);}
}

@-webkit-keyframes showit {
  from {opacity:0;}
  to {opacity:1;}
}


@media(min-width:770px){
	.about-link{
		display:none;
	}

}
