.link-effect {
  -webkit-animation-name: grow-effect;
  -webkit-animation-duration: 2s;
  transition: all 0.2s ease-in-out;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}
/*.link-effect:hover{
  color:var(--color-one);
}
.link-effect:hover{
   -webkit-animation-name: none;
}
 @-webkit-keyframes grow-effect{
 from {transform: scale(1);}
 50%{transform: scale(1.5);}
  to {transform: scale(1);}
}*/

.myInitial {
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: "Baloo Chettan", cursive;
  border-bottom: solid 3px gray;
  font-size: 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.myInit {
  position: absolute;
  top: 13px;
  left: 20px;

  font-family: "Baloo Chettan", cursive;
  font-size: 50px;
}
.logo {
  position: absolute;
  top: 10px;
  left: 20px;
}
